@import './mixin.scss';

.chooseTour-block {
    &__text {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;
    }

    &__title {
        width: 30vw;
        text-align: center;
        margin-bottom: 4vh;
    }

    &__ul {
        width: 36vw;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
    }

    &__li {
        cursor: pointer;
    }
    &__li:active{
      color: #EFA501;
    }
    &__li::selection{
        color: #EFA501;
      }

    &__li::before {
        content: '';
        background-color: #1B1F2B;
    }

}

.listTour {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13.5vh;

    &__divImg {
        position: relative;
        display: inline-block;
        width: 18vw;
        height: 27vh;
        min-height: 531px;
        min-width: 370px;
        margin-bottom: 2.5vh;
        overflow: hidden;
        border-radius: 60px;
    }

    &__img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: inline-block;
        background-size: cover;
        background-position: 55% 50%;
        cursor: pointer;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
    }

    &__text {
        position: absolute;
        padding: 4.2vh 2vw 4vh 2vw;
        top: 0;
        z-index: 3;
    }

    &__title {
        @include adaptiv-font(35,23);
        color: #FFFFFF;
        width: 60%;
        line-height: 122%;
        margin-bottom: 2vh;
        font-weight: 500;
    }

    &__description {
        @include adaptiv-font(17,16);
        margin-bottom: 30vh;
        color: #FFFFFF;
        line-height: 142%;
        letter-spacing: -0.01em;
        font-weight: 400;

    }

    &__bottom {
        background: transparent;
        color: #FFFFFF;
        border-radius: 40px;
    }

    &__bottomText {
        padding: .3vh .6vw;
    }

    &__details {
        @include adaptiv-font(23,16);
        font-weight: 700;
        line-height: 122%;
        margin-right: 0.5vw;
    }

    &__arrow {
        padding-bottom: 0.5vh;
    }

}

.listTour__bottom.activeTour {
    background: #286562;
}

.listTour__divImg:hover .listTour__img {
    transform: scale(1.2);
    transition: all 300ms ease;
}


// .listTour .listTour__divImg:not(:last-child):not(:nth-child(3)) {
//     margin-right: 2vw;
// }

