

.chooseTour-block {
    &__text {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 106px;
    }

    &__title {
        width: 30vw;
        text-align: center;
        margin-bottom: 35px;
    }

    &__ul {
        width: 35vw;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
    }

    &__li {
        cursor: pointer;
    }
    &__li:active{
      color: #EFA501;
    }
    &__li::selection{
        color: #EFA501;
      }

    &__li::before {
        content: '';
        background-color: #1B1F2B;
    }

}

.listTour {
    display: inline-block;


    &__img {
        display: inline-block;
        width: 370px;
        height: 531px;
        background-size: cover;
        border-radius: 50px;
    }

}
