
@media screen and (max-width:1920px) {
    .Vheader-block {
        &__nav {
            width: 25vw;
            padding-right: 2vw;
        }
    }
    .header-block {
        &__nav {
            width: 25vw;
            padding-right: 2vw;
        }
    }

    .underheader-block {
        &__title {
            width: 60vw;
            padding-top: 8vh;
            margin-bottom: 5vh;
        }
        &__description {
            width: 30vw;
            margin-bottom: 3vh;
            padding-bottom: 2vh;
        }
        &__button {
            padding: 1vh 1vw;
            min-width: 1vw;
        }
    }

    .listTour {
        &__description {
            margin-bottom: 25vh;
        }
        &__title {
            padding-left: 1vw;
        }
        &__description {
            padding-left: 1vw;
        }
    }

}




@media screen and (max-width:1024px) {
// на 768px
       
    .Vheader-block {
        &__logo {
            width: 18vw;
            padding-left: 4.5vw;
        }
        &__nav {
            width: 39vw;
            padding-left: 6vw;
        }
        &__number{
            width: 20vw;
            padding-right: 4.5vw;
        }
    }
    .header-block {
        &__logo {
            width: 18vw;
            padding-left: 4.5vw;
        }
        &__nav {
            width: 39vw;
            padding-left: 6vw;
        }
        &__number{
            width: 20vw;
            padding-right: 4.5vw;
        }
    }

    .underheader-block {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
         url('../image/underHeader/Mini_underheader_Background.png');
        height: 108vh;
        background-size: 100% 100%;
        margin-bottom: 18vh;
        &__title {
            width: 60vw;;
            padding-top: 12vh;
            margin-bottom: 5vh;
        }
        &__description {
            width: 40vw;
            margin-bottom: 6vh;
            padding-top: 1vh;
        }
        &__button {
            padding: 1vh 2vw;
            min-width: 2vw;
        }
    }

    .chooseTour-block {
        &__text {
            margin-bottom: 14vh;
        }
        &__title {
            width: 60vw;
            text-align: center;
            margin-bottom: 5.5vh;
        }
        &__ul {
            width:68.5vw;
        }
    }

    .listTour {
        margin-bottom: 15vh;

        &__divImg {
            width: 44vw;
            height: 69.2vh;
            // min-height: 531px;
            // min-width: 450px;
            margin-bottom: 2.5vh;
        }
        &__text {
            padding: 6.5vh 0vw 4vh 3vw;
        }
        &__title {
            width: 100%;
        }
        &__description {
            margin-bottom: 41.5vh;
        }
    }

}







@media screen and (max-width:360px) {
// на 640px
    .Vheader-block {
        &__nav {
            display: none;
        }
        &__logo {
            width: 40vw;
            padding-left: 4.5vw;
        }
        &__logo-img {
            width: 133px;
            height: 22px;
        }
        &__number{
            width: 40%;
            padding-right: 4.5vw;
        }
    }
    .header-block {
        &__nav {
            display: none;
        }
        &__logo {
            width: 40vw;
            padding-left: 4.5vw;
        }
        &__logo-img {
            width: 133px;
            height: 22px;
        }
        &__number{
            width: 40%;
            padding-right: 4.5vw;
        }
    }

    .underheader-block {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
         url('../image/underHeader/Mini_underheader_Background.png');
        height: 66vh;
        background-position: 28% 50%;
        background-size: cover;
        margin-bottom: 10.5vh;

        &__title {
            padding-top: 13vh;
            margin-bottom: -1vh;
        }
        &__description {
            width: 70vw;
            margin-bottom: 4vh;
            padding-top: 6vh;
        }
        &__button {
            padding: 1vh 6vw;
            min-width: 6vw;
        }
    }

    .chooseTour-block {
        &__text {
            margin-bottom: 5.5vh;
        }
        &__title {
            width: 90vw;
            margin-bottom: 4vh;
        }
        &__ul {
            width:70vw;
            flex-wrap: wrap;
        }
        &__li {
            margin-bottom: 1.3vh;
        }
        &__li:nth-child(4) {
            padding-left: 5vh;
        }
        &__li:nth-child(5) {
            padding-right: 5vh;
        }
    }

    .listTour {
        margin-bottom: 15vh;
        &__divImg {
            // min-height: 318px;
            // min-width: 318px;
            width: 89vw;
            height: 50vh;
            margin-bottom: 1.5vh;
            border-radius: 20px;
        }
        &__text {
            padding: 3.5vh 0vw 1vh 8vw;
        }
        &__title {
            width: 100%;
        }
        &__description {
            margin-bottom: 23.5vh;
        }

    }

}

