@import './blocks/header.scss';
@import './blocks/underHeader.scss';
@import './blocks//chooseTour.scss';
@import './blocks/CollectTour.scss';
@import './blocks/Feedback.scss';
@import './blocks/travelPhotos.scss';
@import './blocks/travelHistory.scss';
@import './blocks/footer.scss';
@import './blocks/ending.scss';

@import './mixins/mixin1920.scss';
@import './mixins/mixin1024.scss';
@import './links/linkText.scss';


@import './media/media.scss';


html {
    width: 100%;
     
    }

a {
    text-decoration: none;
}


:root {
    --index: calc(1vw + 1vh);
}

.container {
    width: 62vw;
    padding-left: 19vw;
    padding-right: 19vw;
  }
  @media screen and (max-width:1024px) {
    .container {
        width: 91vw;
        padding-left: 4.5vw;
        padding-right: 4.5vw;
      }
  }

body {
    position: relative;
    font-family: 'Roboto',"Arial", sans-serif;
    background: #F9F7f4;
  }


h1 {
    // @include adaptiv-font-1920(96,34);
    font-size: 96px;
    letter-spacing: 0.02em;
    font-weight: 700;
    line-height: 109%;

    @media screen and (max-width:1024px) {
        @include adaptiv-font-1024(96,34);
        
    }
    @media screen and (max-width:360px) {
        line-height: 112%;
    }
}

h2 {
    text-align: center;
    // white-space: nowrap;
    // @include adaptiv-font-1920(59,34);
    font-size: 59px;
    line-height: 124%;
    font-weight: 700;
    @media screen and (max-width:1024px) {
        @include adaptiv-font-1024(59,34);
    }
    @media screen and (max-width:360px){
        line-height: 112%;
    }
}

h3 {
    // @include adaptiv-font-1920(35,23);
    font-size: 35px;
        line-height: 122%;
        font-weight: 500;
    @media screen and (max-width:1024px) {
        @include adaptiv-font-1024(35,23);
    }
    @media screen and (max-width:360px) {
        line-height: 120%;
        letter-spacing: 0.04em;
        font-weight: 700;
    }
}

.p-big {
    // white-space: nowrap;
    white-space: wrap;
    // @include adaptiv-font-1920(23,16);
    font-size: 23px;
    line-height: 122%;
    font-weight: 700;
    color: #1B1F2B;
@media screen and (max-width:1024px) {
    @include adaptiv-font-1024(23,16);
}
@media screen and (max-width:360px) {
    line-height: 142%;
}
}

.p-normal {
    white-space: wrap;
    // @include adaptiv-font-1920(20,16);
    font-size: 20px;
    line-height: 142%;
    font-weight: 400;
@media screen and (max-width:1024px) {
    @include adaptiv-font-1024(20,16);
}
}

.p-small {
   font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;
    font-weight: 400;
    @media screen and (max-width:1024px) {
        @include adaptiv-font-1024(17,16);
    }
}

.textForm {
    // width: 10vw;
    background: #F9F7F4;
    border: 1px solid #F4F0E9;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1B1F2B;
    width: 91%;
    @media screen and (max-width:1024px){
        width: 90%;
    }
    @media screen and (max-width:360px) {
        width: 85%;
    }
}


.button {
    transition: 0.2s;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    text-align: center;
}

.button2 {
    padding: 1vh 4vw;
    border-radius: 10px;
}

.buttonGreen:hover {
    opacity: 0.6;
    background-color: aquamarine;
   
}

.active {
    color: #EFA501;
}


select:hover {
    background: #F4F0E9;
    border: 1px solid #F4F0E9;
    border-radius: 10px;
}

select:valid { color: #1B1F2B; }
select:invalid {
    color: #A6A6A6;
}


input::placeholder {
    color: #A6A6A6;
}
input:invalid {
    color: #A6A6A6; 
}
input:hover {
    background: #F4F0E9;
}
//красим raio в черный



//кастомизируем checkbox

// .checkbox input[type="checkbox"] {
//     opacity: 0;
// }

//убираем календарь
input::-webkit-calendar-picker-indicator{
    display: none;
}
textarea:hover {
    background: #F4F0E9;
}


