@import './header.scss';
@import './underHeader.scss';
// @import './chooseTour.scss';
@import './mixin.scss';
@import './links.scss';

@import './media.scss';

a {
    text-decoration: none;
}


:root {
    --index: calc(1vw + 1vh);
}

body {
    position: relative;
    font-family: 'Roboto',"Arial", sans-serif;
    background-color: antiquewhite;
  }

.text {
   @include adaptiv-font(20,16);
   line-height: 142%;
   font-weight: 400;
}

.text-title {
    white-space: nowrap;
    @include adaptiv-font(59,34);
    line-height: 109%;
    font-weight: 700;
}



// .container {
//   padding-left: 15vw;
//   padding-right: 15vw;
// }

.button {
    transition: 0.2s;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    text-align: center;
}

.button:hover {
    opacity: 0.6;
    background-color: aquamarine;
   
}






