// настройка анимации текста снизу
.element-animation {
    opacity: 0;
    transform: translateY(20px);
}

.element-animation.element-show {
    opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}