.Feedback {
    display: flex;
    flex-flow: column;
    margin-bottom: 14vh;
    &__top {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10vh;
    }
    &__title {
        width: 90%;
        color: #1B1F2B;
        margin-bottom: 3vh;
    }
    &__description {
        width: 58%;
        color: #A6A6A6;
        text-align: center;
    }
}

.FeedbackBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row;

    // height: fit-content;

    &__item {
        width: 25vw;
        min-height: 60vh;
        // width: 20%;    
        padding: 2vh 2.5vw 2vh 2.5vw;
        background: #F4F0E9;
        border-radius: 50px; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: space-between;
        flex-flow: column;
        // display: inline-flex;
      
        // height: fit-content;
        // overflow:scroll;
    }

    &__top {
        width: 100%;
        margin-bottom: 5vh;
    }

    &__bottom {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        // padding-top: 4.5vh;
    }

   

    &__btndescription {
        margin-bottom: 2vh;
    }


}