@import './variables.scss';


//блок который есть всегда
.Vheader-block {
    position: absolute;
    top: 0;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    z-index: 5;

    &__logo {
        width: 18.5vw;
        padding-left: 0.5vw;
    }
    &__logo-img {
        width: 181px;
        height: 31px;
    }
    &__nav {
        width: 24.5vw;
        padding-left: 0.5vw;
    }
    &__ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row;
        color:  #FFFFFF;
    }

    &__li {
        cursor: pointer;
    }
    &__li::before {
        content: '';
        background-color: #fff;
    }

    &__number{
        width: 17vw;
        text-align: end;
  
    }
    &__a {
        color:  #FFFFFF;
    }
    &__a::before {
        content: '';
        background-color: #fff;
    }
}




//блок который пояаляется
.header-block {
    width: 100%;
    position: fixed;
    top: 0;
    height: 90px;
    transition: 1s;
    background: rgba(243, 239, 232, 0.6);
    backdrop-filter: blur(27px);
    z-index: 5;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row;
        height: 100%;


    }
    &__logo {
        width: 20%;
        padding-left: 0.5vw;
    }
    &__logo-img {
        width: 181px;
        height: 31px;
    }
    &__nav {
        width: 25%;
    }
    &__ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row;
        color:  #FFFFFF;
    }

    &__li {
        cursor: pointer;
    }
    &__number{
        width: 12vw;
        text-align: end;
        padding-right: -0.5vw;
    }
    &__a {
        color:  #FFFFFF;
    }

    &__hidden {
        transform: translateY(-100%);
      }

}

