@import './variables.scss';


//блок который есть всегда
.Vheader-block {
    width: inherit;
    position: absolute;
    top: 0;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    z-index: 7;

    &__logo {
        width: 15vw;
    }
    &__logo-img {
        fill: black;
        width: 100%;
        max-width: 181px;
        max-height: 31px;
    }
    &__nav {
        width: 34vw;
    }
    &__ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row;
        color:  #FFFFFF;
    }

    &__li {
        cursor: pointer;
        white-space: nowrap;
    }
    &__li::before {
        content: '';
        background-color: #fff;
    }

    &__number{
        width: 10vw;
        text-align: end;
        white-space: nowrap;
  
    }
    &__a {
        color:  #FFFFFF;
    }
    &__a::before {
        content: '';
        background-color: #fff;
    }
}




//блок который появляется
.header-blockActive {
    z-index: 10;
    width: inherit;
    background: rgba(243, 239, 232, 0.6);
    height: 90px;
    position: fixed;
    backdrop-filter: blur(27px);
    transition: 1s;
    &__hidden {
        transform: translateY(-100%);
      }
}

.header-block {
    width: inherit;
    // width: 62%;
    opacity: 1;
    top: 0;
    height: 90px;


    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    

    // &__container {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     flex-flow: row;
    //     height: 100%;
    // }

    &__logo {
        width: 15vw;
        
    }
    &__logo-img {
        width: 100%;
        max-width: 181px;
        max-height: 31px;
    }
    &__nav {
        width: 34vw;
    }
    &__ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row;
        color:  #FFFFFF;
    }

    &__li {
        cursor: pointer;
        white-space: nowrap;
    }
    &__number{
        width: 10vw;
        text-align: end;
        white-space: nowrap;
        
    }
    &__a {
        color: #1B1F2B;;
    }
    &__a::before {
        content: '';
        background-color: #1B1F2B;
    }
    // &__hidden {
    //     transform: translateY(-100%);
    //   }

}

