
.PhotosBlock {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 13.5vh;
    &__top {
        width: 60vw;
        margin-bottom: 10vh;
    }
    &__description {
        width: 40vw;

    }

    &__bottom {
        padding: 0 3vw 0 3vw;
        display: flex;
        flex-flow: column;
        align-items: space-between;
        justify-content: center;
    }

    &__line1 {
        margin-bottom: 3vh;
    }
    &__line2 {
        margin-bottom: 3vh;
    }


}