

.main {
    width: 100%;

}

.underheader-block {
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 135px;
    background-image: url('../image/underHeader/Underheader_Background.jpg');
    height: 87vh;
    background-size: 100% 100%;

    &__title{
        text-align: center;
        width: 70vw;
        padding-top: 8vh;
        margin-bottom: 5vh;
    }

    &__description {
        text-align: center;
        width: 30vw;
        margin-bottom: 3vh;
        padding-bottom: 2vh;
    }

    &__button {
        border-radius: 10px;
        background: #FFFFFF;
        color: #1B1F2B;
        padding: 1vh 1vw;
        min-width: 1vw;
    }

}