
@media screen and (max-width:1920px) {
    .Vheader-block {
        &__logo {
            width: 12vw;
            padding-left: 0.65vw;
        }
        &__logo-img {
            fill: black;
            width: 100%;
            max-width: 181px;
            max-height: 31px;
        }
        &__nav {
            width: 24vw;
        }
    
        &__number{
            width: 10.5vw;
            padding-right: 0.65vw;
        }
    }
    
    .header-block {
        &__logo {
            width: 12vw;
            padding-left: 0.65vw;
        }
        &__logo-img {
            fill: black;
            width: 100%;
            max-width: 181px;
            max-height: 31px;
        }
        &__nav {
            width: 24vw;
        }
    
        &__number{
            width: 10.5vw;
            padding-right: 0.65vw;
        }
    }

    .underheader-block {
        // height: fit-content;
        height: 77vh;
        &__title {
            width: 60vw;
            padding-top: 8.5vh;
            margin-bottom: 5vh;
        }
        &__description {
            width: 30vw;
            margin-bottom: 3vh;
            padding-bottom: 2vh;
        }
        &__button {
            padding: 1vh 1vw;
            min-width: 1vw;
        }
    }
    .chooseTour-block {
        &__ul {
            width: 36.5vw;
        }
    }
    .listTour {
        margin-bottom: 10vh;
        &__text {
            padding: 4.7vh 2vw 4vh 2vw;
        }
        &__title {
            padding-left: 1vw;
            margin-bottom: 1.5vh;
        }
        &__description {
            padding-left: 1vw;
        }
    }
    .CollectTour{
        margin-bottom: 13.5vh;
        &__description {
            width: 21vw;
        }
    }
    .form {
        padding: 6vh 4vw 6vh 4vw;
        &__input {
            display: inline-block;
            width: 91%;
        }
        &__item {
            width: 49%;
            margin-bottom: 3vh;
        }
        &__selectLabel::after {
            right: 24px;
            top: 14px;
        }
    }
    .textArea-item {
        margin-top: 0vh;
    }
    .Feedback {
        margin-bottom: 12.5vh;
    &__title {
        width: 60%;
    }
    &__description {
        width: 35%;
    }
    }
    .FeedbackBottom {
        &__top {
            width: 101%;
        }

        &__item {
            min-height: 57vh;
            width: 25vw;
            padding: 2.5vh 2.9vw 1.5vh 2.5vw;
        }
        &__bottom {
            padding-bottom: 1vh;
        }
        &__btTitle {
            margin-bottom: 1vh;
        }
        &__btndescription {
            margin-bottom: 1vh;
        }
    }
    .PhotosBlock {
        margin-bottom: 9.5vh;
  
        &__top {
            margin-bottom: 9vh;
        }
        &__title {
         margin-bottom: 3vh;
        }
        &__description {
            width: 38%;
        }
        &__line1 {
            margin-bottom: 3vh;
        }
    }

    .endingBlock {
        margin-bottom: 12vh;
        &__right {
            margin-left: 1.5vw;
        }
    }
}

////доп расширения для резиновой вёрстки
@media screen and (max-width:1600px) {
    .Vheader-block {
        &__nav {
            width: 34vw;
        }
    }
    .header-block {
        &__nav {
            width: 34vw;
        }
    }
    .underheader-block {
        height: 108vh;
        
        margin-bottom: 18vh;
        &__title {
            width: 60vw;
            padding-top: 12vh;
            margin-bottom: 5vh;
        }
        &__description {
            width: 42vw;
            margin-bottom: 5vh;
            padding-top: 1vh;
        }
        &__button {
            padding: 1vh 2vw;
            min-width: 2vw;
        }
    }
    .chooseTour-block {
        &__ul {
            width: 40vw;
        }
        &__li {
            margin-right: 0.5vw;
        }
        &__li:last-child {
            margin-right: 0vw;
        }
    }
    .CollectTour {
        &__title {
            width: 100%;
        }
        &__description {
            width: 44%;
        }
    }
    .travelItemBlock {
        &__networkBlock {
            width: 60%;
        }
    }
    .FeedbackBottom {
        &__item {
            min-height: 70vh;
        }
    }
    .Feedback {
        &__title {
            width: 100%;
        }
        &__description {
            width: 60%;
        }
    }
    .PhotosBlock {
        &__title {
            width: 100%;
        }
        &__description {
            width: 60%;
        }
    }
    .travelHistory {
        &__title {
            width: 100%;
        }
        &__description {
            width: 60%;
        }
    }
}
////доп расширения для резиновой вёрстки
@media screen and (max-width:1400px) {
    .form {
        &__input {
            width: 87%;
        }
        &__ul {
            width: 50vw;
        }
    }
}


@media screen and (max-width:1024px) {
// на 768px
.Vheader-block {
    &__logo {
        width: 20vw;
        padding-left: 1.1vw;
    }
    &__logo-img {
        width: 100%;
        max-width: 181px;
        max-height: 31px;
    }
    &__nav {
        width: 40vw;
    }

    &__number{
        width: 17.5vw;
        padding-right: 1.1vw;
    }
}

.header-block {
    &__logo {
        width: 20vw;
        padding-left: 1.1vw;
    }
    &__logo-img {
        fill: black;
        width: 100%;
        max-width: 181px;
        max-height: 31px;
    }
    &__nav {
        width: 40vw;
    }

    &__number{
        width: 17.5vw;
        padding-right: 1.1vw;
    }
}


    .underheader-block {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
         url('../image/underHeader/Mini_underheader_Background.png');
        height: 108vh;
        background-size: 100% 100%;
        background-position: 50% 50%;
        

        margin-bottom: 18vh;
        &__title {
            width: 60vw;
            padding-top: 12vh;
            margin-bottom: 5vh;
        }
        &__description {
            width: 42vw;
            margin-bottom: 5vh;
            padding-top: 1vh;
        }
        &__button {
            padding: 1vh 2vw;
            min-width: 2vw;
        }
    }

    .chooseTour-block {
        &__text {
            margin-bottom: 14vh;
        }
        &__title {
            width: 60vw;
            text-align: center;
            margin-bottom: 4.5vh;
        }
        &__ul {
            width:68.5vw;
        }
        &__li {
            margin-right: 0vw;
        }
    }
    .listTour {
        margin-bottom: 14vh;

        &__divImg {
            width: 44.5vw;
            height: 69.2vh;
            // min-height: 531px;
            // min-width: 450px;
            margin-bottom: 2.5vh;
        }

        &__imgBack {
            background-size: 100% 128%;
            background-position: 0% 59%;
        }

        &__text {
            padding: 6vh 3.5vw 6.5vh 3.5vw;
        }
        &__title {
            width: 100%;
            margin-bottom: 2vh;
        }
    }

    .CollectTour {
        margin-bottom: 15.5vh;
        &__top {
            margin-bottom: 13.5vh;
        }
        &__title {
            margin-bottom: 4vh;
        }
        &__description {
            width: 40vw;
        }
    }
    .form {
        border-radius: 50px;
        padding: 7vh 6.5vw 0vh 6.5vw;
        
        &__item {
            width: 48%;
            margin-bottom: 4.5vh;
        }
        &__input {
            width: 90%;
        }
        &__underInput {
            margin-bottom: 0.9vh;
        }
        
        &__select {
            width: 100%;
        }
        
        &__textarea {
            width: 100%; 

        }
        &__selectLabel::after {
            right: 22px;
            top: 16px;
        }
        }
    .textArea-item textarea {
        height: 20vh;
    }
    .textArea-item {
        margin-bottom: 4.5vh;
    }
    .ageCheck {
        margin-bottom: 4vh;
        &__radioBlock {
            margin-right: 2.4vw;
        }
        &__label {
            padding-left: 40px;
        }
        
    }
    .aceptBlock {
        margin-bottom: 5vh;
        &__label {
            padding-left: 37px;
        }
    }
    .CollButtomBlock {
        width: 66%;
        height: 17vh;
        &__submit {
            width: 45%;
            height: 40%;
            margin-right: 2vw;
            background: #286562;
        }
        &__submit:hover {
            background: #3B7E7B;
        }
        &__submit:active {
            background: #627F7E;
        }
    
        &__reset {
            width: 45%;
            height: 40%;
            background: #E0F0E5;
        }
        &__reset:hover {
            background: #F1F3F2;
        }
        &__reset:active {
            background: #D9DFDB;
        }
    
    }
    .Feedback {
        margin-bottom: 18.5vh;
        &__title {
            margin-bottom: 4vh;
            width: 60%;
        }
        &__description {
            width: 45%;
        }
        &__top {
            margin-bottom: 13vh;
        }
    }
    .FeedbackBottom {
        &__top {
            width: 90%;
        }

        &__item {
            min-height: 101vh;
            width: 40vw;
            padding: 5vh 0.5vw 2vh 4.5vw;
        }
        &__bottom {
            width: 90%;
        }
    }


    .PhotosBlock {
        margin-bottom: 14.1vh;
        padding-left: 2vw;
        padding-right: 2vw;
            &__top {
                margin-bottom: 13vh;
            }
            &__title {
                margin-bottom: 4vh;
            }
            &__description {
                width: 49%;
            }
            &__bottom {
                padding: 0 3vw 0 3vw;
            }
        
            &__line1 {
                margin-bottom: 4vh;
            }
            &__line2 {
                margin-bottom: 4vh;
            }
        
            &__img1 {
                width: 32%;
                height: 39vh;
            }
        
            &__img2 {
                width: 23.5%;
                height: 39vh;

            }
    
    }
    #hide1024 {
        display: none;
    }
    .travelHistory {
        margin-bottom: 18.5vh;
        &__top {
            margin-bottom: 13vh;
        }
        
        &__title {
            width: 80%;
            margin-bottom: 4.5vh;
        }
        &__description {
            width: 50%;
        }
    }
    
    .travelItemBlock {
        border-radius: 50px;
        margin-bottom: 7vh;
        height: 73vh;
    
        &__networkBlock {
            width: 55%;
        }
        &__text {
            height: 80%;
            padding: 7vh 3.5vw 0vh 7vw;
        }
        &__aNetwork {
            margin-right: 3vw;
        }
        &__title {
            margin-bottom: 5vh;
        }
        &__descriptionText {
            width: 120%;
        }
        &__descriptionLi::before {
            font-size: 20px;
            margin-left: -1.5vw;
        }
        &__descriptionLi:first-child {
            margin-top: 3.5vh;
        }
        &__descriptionLi {
            padding-left:2vw;
        }
        &__imgBack {
            display: block;
            // width: 100%;
            // height: 100%;
            background-size: 100% 100%;
            background-position: 0% 80%;
            background-repeat: no-repeat;
            cursor: pointer;
            position: absolute;
        }


    }

    .endingBlock {
        margin-bottom: 17.5vh;
        padding: 0px 8vw 0 8vw;
    
        &__left {
            width: 48%;
            height: 100%;
        }
    
        &__right {
            width: 50%;
            height: 100%;
            padding-left: 1.5vw;
        }
    
        &__title {
            margin-bottom: 2vh;
        }
        
    }

    .footerBlock {
        width: 100%;
        

        &__right {
            // width: 44%;
            width: fit-content;
        }
        &__left {
            padding-left: 0.5vw;
        }
        &__blockNetwork {
            margin-right: 4vw;
        }
        &__blockNetwork:last-child {
            margin-right: 0vw;
        }
        &__img {
            margin-right: 0.5vw;
        }
         
    }

}

////доп расширения для резиновой вёрстки
@media screen and (max-width:800px) {
    .Vheader-block {
        &__nav {
            width: 49vw;
        }
    }
    .header-block {
        &__nav {
            width: 49vw;
        }
    }
    .underheader-block {
        &__title {
            width: 80vw;
        }
    }
    .chooseTour-block {
        &__ul {
            width: 80vw;
        }
    }
    .form {
        &__input {
            width: 87%;
        }
}
}
////доп расширения для резиновой вёрстки
@media screen and (max-width:650px) {
        // на 900px/700px
        .Vheader-block {
            &__logo {
                width: 37vw;
                padding-left: 1.1vw;
            }
            &__logo-img {
                width: 100%;
                max-width: 181px;
                max-height: 31px;
            }
            &__nav {
                display: none;
            }
        
            &__number{
                width: 34.5vw;
                padding-right: 1.1vw;
            }
        }
        
        .header-block {
            &__logo {
                width: 37vw;
                padding-left: 1.1vw;
            }
            &__logo-img {
                fill: black;
                width: 100%;
                max-width: 181px;
                max-height: 31px;
            }
            &__nav {
               display: none;
            }
        
            &__number{
                width: 34.5vw;
                padding-right: 1.1vw;
            }
        }
        
            .underheader-block {
                // background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                //  url('../image/underHeader/Mini_underheader_Background.png');
                height: 81.5vh;
                background-position: 28% 50%;
                background-size: cover;
                margin-bottom: 6.5vh;
        
                &__title {
                    padding-top: 8vh;
                    margin-bottom: 1vh;
                }
                &__description {
                    width: 70vw;
                    margin-bottom: 3vh;
                    padding-top: 6vh;
                }
                &__button {
                    margin-top: 1vh;
                    padding: 1vh 6vw;
                    min-width: 6vw;
                }
            }
        
            .chooseTour-block {
                &__text {
                    margin-bottom: 6vh;
                }
                &__title {
                    width: 90vw;
                    margin-bottom: 5vh;
                }
                &__ul {
                    width: 60vw;
                    flex-wrap: wrap;
                }
                &__li {
                    margin-bottom: 1.3vh;
                }
                &__li:nth-child(4) {
                    padding-left: 6vh;
                }
                &__li:nth-child(5) {
                    padding-right: 6vh;
                }
            }
        
            .listTour {
                margin-bottom: 11vh;
                &__divImg {
                    // min-height: 318px;
                    // min-width: 318px;
                    width: 89vw;
                    height: 50vh;
                    margin-bottom: 2.2vh;
                    border-radius: 20px;
                }
                &__imgBack {
                    display: block;
                    position: absolute;
                    background-size: 100% 154%;
                    background-position: 0% 55%;
                
                }
                &__text {
                    padding: 4.5vh 0vw 4vh 7vw;
                }
                &__title {
                    width: 100%;
                }
        
        
            }
        
            .CollectTour {
                margin-bottom: 8vh;
                &__top {
                    margin-bottom: 6vh
                }
                &__title {
                margin-bottom: 3.5vh;
                }
                &__description {
        
                    width: 90%;
                }
            }
            
            .form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            flex-wrap: wrap;
            background: #FFFFFF;
            border-radius: 50px;
            
            padding: 4vh 4vw 0vh 4vw;
            &__item {
                width: 94%;
                margin-bottom: 5vh;
            }
            &__item:nth-child(6) {
                margin-bottom: 6vh;
            }
            
            &__underInput {
                margin-bottom: 0.8vh;
            }
            
            &__input {
                display: inline-block;
                // width:100%;
                width: 92%;
                height: 1vh;
            }
            
            &__select {
                width: 100%;
                padding: 10px 18px !important;
            }
            
            &__textarea {
                width: 100%; 
                resize: none;
                box-sizing: border-box;
            }
           
            &__selectLabel::after {
                right: 11px;
                top: 5px;
            }
            }
            .textArea-item {
                margin-top: -2vh;
                margin-bottom: 10vh;
                height: 21vh;
                width: 94%;
            }
            .ageCheck {
                width: 94%;
                margin-bottom: 5vh;
                &__radioBlock {
                    margin-right: 5.4vw;
                }
                &__label {
                    padding-left: 37px;
                }
                
                }
            .aceptBlock {
                width: 94%;
            }
            .CollButtomBlock {
                width: 93%;
                &__submit {
                    width: 46%;
                    margin-left: 1vw;
                    margin-right: 3vw;
                }
            }
            .Feedback {
                margin-bottom: 11.5vh;
                &__title {
                    margin-bottom: 3.5vh;
                    width: 100%;
                }
                &__description {
                    width: 100%;
                }
                &__top {
                    margin-bottom: 7vh;
                }
            }
            .FeedbackBottom {
                flex-flow: column;
                align-items: center;
                &__top {
                    width: 92%;
                }
                &__item {
                    min-height: 60vh;
                    width: 82vw;
                    padding: 4vh 0.5vw 2vh 4.5vw;
                    border-radius: 20px;
                }
                &__item1 {
                    min-height: 50vh;
                    margin-bottom: 2vh;
                }
                &__item2 {
                    min-height: 70vh;
                }
                &__bottom {
                    width: 94%;
                    padding-bottom: 0vh;
                }
            }
            .travelHistory {
                margin-bottom: 12.5vh;
                &__top {
                    margin-bottom: 8vh;
                }
                
                &__title {
                    width: 80%;
                    margin-bottom: 3vh;
                }
                &__description {
                    width: 100%;
                }
            }
            
            .travelItemBlock {
                border-radius: 25px;
                margin-bottom: 3vh;
                height: 71vh;
            
                &__networkBlock {
                    width: 45%;
                }
                &__text {
                    width: 120%;
                    height: 87%;
                    padding: 4.5vh 0vw 0vh 10vw;
                }
                &__aNetwork {
                    margin-right: 3vw;
                }
                &__title {
                    width: 70%;
                    margin-bottom: 3.5vh;
                }
                &__descriptionText {
                    width: 120%;
                }
                &__descriptionLi::before {
                    font-size: 15px;
                    margin-left: -4vw;
                }
                &__descriptionLi:first-child {
                    margin-top: 3.5vh;
                }
                &__descriptionLi {
                    padding-left: 3.5vh;
                }
                &__imgBack {
                    display: block;
                    background-size: 196% 100%;
                    background-position: 53% 0%;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    position: absolute;
                }
                &__networkBlock {
                    display: none;
                }
        
        
            }
        
            .PhotosBlock {
                margin-bottom: 9.2vh;
                padding-left: 2vw;
                padding-right: 2vw;
            
                    &__top {
                        width: 100%;
                        margin-bottom: 8vh;
                    }
                    &__title {
                        width: 100%;
                        margin-bottom: 3.5vh;
                    }
                    &__description {
                        width: 104%;
                    }
            
                &__bottom {
                    width: 92%;
                    padding: 0 3vw 0 3vw;
                }
                &__line1 {
                    margin-bottom: 3vh;
                }
                &__line2 {
                    margin-bottom: 4vh;
                }
                &__img1 {
                    width: 48%;
                    height: 16vh;
                }
            
                &__img2 {
                    width: 32%;
                    height: 17vh;
                }
            
            }
            #hide360 {
                display: none;
            }
                
            .endingBlock {
                // width: 100%;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: space-between;
                margin-bottom: 11.5vh;
                padding: 0 11vw 0 11vw;
            
                &__left {
                    width: 52%;
                    height: 100%;
                    background-size: cover;
                    margin-bottom: 5vh;
                }
            
                &__right {
                    width: 120%;
                    height: 100%;
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
            
                &__title {
                    margin-bottom: 3.4vh;
                }
            
                &__description {
                    color: #A6A6A6;
                }
               
                &__a {
                    color:  #1B1F2B;
                }
                &__a::before {
                    content: '';
                    background-color: #1B1F2B;
                }
                
            }
        
            .footerBlock {
                width: 100%;
                height: 90px;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                
                &__left {
                   color: #A6A6A6;
                    margin-bottom: 10px;
                }
                &__right {
                    // width: 35%;
                    width: fit-content;
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;
                    align-items: center;
                }
                &__blockNetwork {
                    margin-right: 23px;
                    display: flex;
                    align-items: flex-end;
                }
                &__blockNetwork:last-child {
                    margin-right: 0vw;
                }
            
                &__img {
                    margin-right: 4px;
                    padding-bottom: 2px;
                }
                &__a {
                    width: 100%;
                    color:  #1B1F2B;
                }
                &__a::before {
                    content: '';
                    background-color: #1B1F2B;
                }
                a:hover {
                    border-bottom: 3px solid #413f3f; /* Ширина, вид и цвет рамки */
                    opacity: 0.5;
                }
        
            }
}
////доп расширения для резиновой вёрстки
@media screen and (max-width:450px) {
    .form {
        &__input {
            width: 90%;
        }
        }
    .chooseTour-block {
        &__ul {
            width: 70vw;
        }
    }

}

@media screen and (max-width:360px) {
// на 640px
.chooseTour-block {
    &__text {
        margin-bottom: 6vh;
    }
    &__title {
        width: 90vw;
        margin-bottom: 5vh;
    }
    &__ul {
        width: 70vw;
        flex-wrap: wrap;
    }
    &__li {
        margin-bottom: 1.3vh;
    }
    &__li:nth-child(4) {
        padding-left: 6vh;
    }
    &__li:nth-child(5) {
        padding-right: 6vh;
    }
}
.form {
&__selectLabel::after {
    right: 12px;
    top: 1px;
}
&__input {
    display: inline-block;
    // width:100%;
    width: 87%;
    height: 1vh;
}
}
.FeedbackBottom {
    &__item {
        min-height: 58vh;
        width: 82vw;
        padding: 4vh 0.5vw 2vh 4.5vw;
        border-radius: 20px;
    }
    &__item1 {
        margin-bottom: 2vh;
    }
    &__item2 {
        min-height: 88vh;
    }
}


}



